@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="bg-img col-md-6">
    </div>
    <div class="home-content col-md-6">
        <div class="text-center">
            <h3 class="display-4"> Welcome to our garage</h3>
        </div>
        <span>We repair everything</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 bg-traffic">
    </div>
</div>
  